@import './variables.css';

* {
  margin: 0;
  background-color: var(--main-background-color);
  color: var(--primary-text-color);
}

p {
  color: var(--primary-text-color);
}

.container {
  width: 100vw;
  height: 100vh;

  font-weight: bold;
  font-size: 1.3rem;
  display: grid;

  grid-template: 100px 100px 100px 1fr 100px/ 10% 100px 1.3fr 0.7fr 10%;
}
