@font-face {
  src: url(/src/assets/fonts/Montserrat/Montserrat-Black.ttf);
  font-family: Montserrat-black;
 }
 
 @font-face {
  src: url(/src/assets/fonts/Montserrat/Montserrat-BlackItalic.ttf);
  font-family: montserrat-blackItalic;
 }
 
 @font-face {
  src: url(/src/assets/fonts/Montserrat/Montserrat-BoldItalic.ttf);
  font-family: Montserrat-BoldBlack;
 }
 
 @font-face {
  src: url(/src/assets/fonts/Montserrat/Montserrat-ExtraBold.ttf);
  font-family: Montserrat-ExtraBold;
 }
 
 @font-face {
  src: url(/src/assets/fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf);
  font-family: Montserrat-ExtraBoldItalic;
 }
 
 @font-face {
  src: url(/src/assets/fonts/Montserrat/Montserrat-ExtraLight.ttf);
  font-family: Montserrat-ExtraLight;
 }
 
 @font-face {
  src: url(/src/assets/fonts/Montserrat/Montserrat-ExtraLightItalic.ttf);
  font-family: Montserrat-ExtraLightItalic;
 }
 
 @font-face {
  src: url(/src/assets/fonts/Montserrat/Montserrat-Italic.ttf);
  font-family: Montserrat-Italic;
 }
 
 @font-face {
  src: url(/src/assets/fonts/Montserrat/Montserrat-Light.ttf);
  font-family: Montserrat-Light;
 }
 
 @font-face {
  src: url(/src/assets/fonts/Montserrat/Montserrat-LightItalic.ttf);
  font-family: Montserrat-LightItalic;
 }
 
 @font-face {
  src: url(/src/assets/fonts/Montserrat/Montserrat-Medium.ttf);
  font-family: Montserrat-Medium;
 }
 
 @font-face {
  src: url(/src/assets/fonts/Montserrat/Montserrat-MediumItalic.ttf.ttf);
  font-family: Montserrat-MediumItalic;
 }
 
 @font-face {
  src: url(/src/assets/fonts/Montserrat/Montserrat-Regular.ttf);
  font-family: Montserrat-Regular;
 }
 
 @font-face {
  src: url(/src/assets/fonts/Montserrat/Montserrat-SemiBold.ttf);
  font-family: Montserrat-SemiBold;
 }
 
 @font-face {
  src: url(/src/assets/fonts/Montserrat/Montserrat-SemiBoldItalic.ttf);
  font-family: Montserrat-SemiBoldItalic;
 }
 
 @font-face {
  src: url(/src/assets/fonts/Montserrat/Montserrat-Thin.ttf);
  font-family: Montserrat-Thin;
 }
 
 @font-face {
  src: url(/src/assets/fonts/Montserrat/Montserrat-ThinItalic.ttf);
  font-family: Montserrat-ThinItalic;
 }